@import "@/assets/css/preloader.min.css";
@import "@/assets/css/bootstrap.min.css";
@import "@/assets/css/icons.min.css";
@import "@/assets/css/app.min.css";

.vfm--fixed {
    z-index: 20000 !important;
}


.fileManager {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    /*display: flex;*/
}

.fileCon {
    position: relative;
    border: 1px solid #ddd;
    padding: 3px;
    max-height: 100px;
    margin: 0 15px 15px 0;
    float: left;
    height: 100px;
    width: 100px;
}

.fileCon * {
    max-width: 100% !important;
    max-height: 100% !important;
}

.fileCon .chk {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    padding: 3px;
}
